<!-- <div class="container border rounded mt-4">
    <div class="row row-cols-2">
        <div class="col">
            <div class="card m-2">
                <div class="card-header">
                    Usuario: Pepe
                </div>
                <div class="card-body">
                    <div class="row row-cols-1">
                        <div class="col">
                            <textarea cols="50" rows="5"></textarea>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" (click)="emitirMensaje('Pepe')">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-2">
                <div class="card-header">
                    Usuario: Maria
                </div>
                <div class="card-body">
                    <div class="row row-cols-1">
                        <div class="col">
                            <textarea cols="50" rows="5"></textarea>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" (click)="emitirMensaje('Maria')">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="border border-success p-3">
    <div class="form-group">
        <label>Usuario: {{ usuario }}</label>
        <textarea class="form-control" [(ngModel)]="mensaje"></textarea>
    </div>
    <button class="btn btn-primary mt-2" (click)="enviarMensaje()">
        Guardar
    </button>
</div>